p 
  a(href="/users/create") New
form(action='/users' method="GET")
  input(type="text" name="q" value="")
  button Search
ul
  each user in users
    li
      span= user.name
      span &nbsp; 
      a(href='/users/'+ user.id) View
      span &nbsp; 
      a(href='/users/'+user.id+'/delete') Xoa  

script document.querySelector("input").setAttribute("value",`#{keyword}`);